@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f2c17d;
    background-image: linear-gradient(315deg, #f2c17d 0%, #b82e1f 74%);
    font-family: 'Kufam', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    margin: 10px;
}

.box {
    background-color: #680d0d;
    color: rgb(212, 174, 92);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 7px 11px 5px rgba(0, 0, 0, 0.3);
}