@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

:root {
    --line-fill: rgb(22, 65, 27);
    --line-empty: rgb(129, 165, 135);
    --inactive: rgb(229, 231, 205);
    --inactive-text: rgb(153, 161, 155);
    --active: rgb(8, 90, 18);
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(63, 105, 78);
    font-family: 'Kufam', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 6px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 6px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease-in;
}

.circle {
    background-color: var(--inactive);
    color: var(--inactive-text);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-empty);
    transition: .4s ease;
    font-weight: bold;
    font-size: large;
}

.circle.active {
    background-color: var(--active);
    color: rgb(129, 165, 135);
    border-color: var(--line-fill);
}

.btn {
    background-color: var(--active);
    color: rgb(129, 165, 135);
    border: 3px solid var(--line-fill);
    border-radius: 20px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 20px;
}

.btn:active {
    transform: scale(0.92);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--inactive);
    color: var(--inactive-text);
    cursor: not-allowed;
    border-color: var(--inactive-text);
}