@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    font-family: 'Kufam', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

